.cabinet-content__sections 
	.cabinet-content__sections-title
		h2.cabinet__title Выбери раздел
		a(href="#") Посмотреть историю занятий

	#sectionsSlider.cabinet-content__sections-slider 	
		.sections-slider-item 
			a.sections-slider-item__container(href="#")
				.cabinet__block-title Раздел 1. Основы
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="30" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 1. Основы
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="30" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 2. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="80" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 3. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="10" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 4. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="30" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 1. Основы
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="30" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 2. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="80" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 3. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="10" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 4. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="30" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 1. Основы
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="30" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 2. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="80" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 3. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="10" max="100")
		.sections-slider-item 
			a.sections-slider-item__container(href="#") 
				.cabinet__block-title Раздел 4. Формулы сокращенного умножения
				.sections-slider-item__reults 
					div.top 
						span Выполненных упражнений: 
						span 5 из 5
					div.bottom
						span Оценка за итоговую работу: 
						span 5+
				progress.progress(value="30" max="100")

