header.cabinet-header
	.cabinet-header__payment
		.cabinet-header__payment-select
			select(name="") 
				option(value="Математика") Математика 
				option(value="Математика") Математика 
				option(value="Математика") Математика 
		button.cabinet-header__payment-button Оплатить
	.cabinet-header__account
		.cabinet-header__account-notifications
			a(href="#")
				span.ring
					img(src="images/header/ring.svg" alt="alt")
				span.text 99+
		.cabinet-header__account-profile 
			a.avatar(href="#") 
				img(src="images/header/default-avatar.png" alt="alt")
			a.exit(href="#") Выйти

