.cabinet-content__status
	.cabinet-content__status-bugs
		.cabinet-content__status-text
			.cabinet__block-title Работа над ошибками
			.available 0 доступных для исправления
			p Все ошибки, которые вы совершаете при выполнении заданий запоминаются. В данной тренировке вы можете их справить.
		a.cabinet__btn(href="#") Тренироваться

	.cabinet-content__status-statistics
		.cabinet__block-title Ваша статистика
		.cabinet-content__status-statistics-info
			.period 
				span.period__date
					input(type="date" value="2021-07-01")
				b -
				span.period__date
					input(type="date" value="2021-07-01")
			.prompt 
				span.prompt__done правильные ответы
				span.prompt__wrong неправильные ответы
		.cabinet-content__status-statistics-diagram
			img(src="images/cabinet/statistics.png" alt="alt")

	.cabinet-content__status-raiting 	
		.cabinet__block-title Таблица рейтинга
		.position Твоя позиция: 
			b 2536
		ul.raiting 	
			li 
				div
					span.name 1.Мартынова Александра
					b 51706
			li 
				div
					span.name 1.Мартынова Александра
					b 51706
			li.raiting-current
				div
					span.name 1.Мартынова Александра
					b 51706
			li 
				div
					span.name 1.Мартынова Александра
					b 51706
			li 
				div
					span.name 1.Мартынова Александра
					b 51706
		.link
			a(href="#") Перейти к таблице