.cabinet-footer
	.cabinet-footer__phones 	
		a(href="tel:+79299713718") +7 (929) 971-37-18
		a(href="tel:+79299713718") +7 (929) 971-37-18

	ul.cabinet-footer__nav 
		li.cabinet-footer__nav-item
			a(href="") Cвязаться с преподавателем
		li.cabinet-footer__nav-item
			a(href="") Договор оферты
		li.cabinet-footer__nav-item
			a(href="") Политика конфиденциальности

	ul.cabinet-footer__social
		li.cabinet-footer__social-item
			a(href="") 
				img(src="images/footer/telegram.svg" alt="alt")
		li.cabinet-footer__social-item
			a(href="") 
				img(src="images/footer/insta.svg" alt="alt")
		li.cabinet-footer__social-item
			a(href="") 
				img(src="images/footer/vk.svg" alt="alt")
		li.cabinet-footer__social-item
			a(href="") 
				img(src="images/footer/facebook.svg" alt="alt")
