.cabinet-content__top
	.cabinet-content__top-user
		a.link(href="#")
			span.avatar
				img(src="images/header/default-avatar.png" alt="alt")
			span Привет, Кристина

	.cabinet-content__top-result 
		.tasks.performed Правильно выполненные задания: <span>25</span>
		.tasks.not-performed Не выполненные задания: <span>4</span>