.cabinet-content__await 	
	h2.cabinet__title Предстоящие занятия
	.cabinet-content__await-item 
		.name 
			.name__title 1-21. Текстовые задачи №2 
			.name__start Начало: <span>cегодня в 15:00</span>
		.info Задание ЕГЭ №11. Средняя скорость. Движение по прямой. Движение по воде. Движение по кругу.
		.btn
			a.site-btn(href="#") Принять участие

	.cabinet-content__await-item 
		.name 
			.name__title 1-21. Текстовые задачи №2 
			.name__start Начало: <span>cегодня в 15:00</span>
		.info Задание ЕГЭ №11. Средняя скорость. Движение по прямой. Движение по воде. Движение по кругу.
		.btn
			a.site-btn(href="#") Принять участие

	.cabinet-content__await-item 
		.name 
			.name__title 1-21. Текстовые задачи №2 
			.name__start Начало: <span>cегодня в 15:00</span>
		.info Задание ЕГЭ №11. Средняя скорость. Движение по прямой. Движение по воде. Движение по кругу.
		.btn
			a.site-btn(href="#") Принять участие