.cabinet-nav
	.cabinet-nav__content
		.cabinet-nav__logo
			a(href="/")
				img(src="images/header/logo.png" alt="alt")
		ul.cabinet-nav__menu 
			li.cabinet-nav__item.cabinet-nav__item_current
				a(href="") Кабинет
			li.cabinet-nav__item 
				a(href="") Уроки
			li.cabinet-nav__item 
				a(href="") Тренировки
			li.cabinet-nav__item 
				a(href="") Таблица рейтинга
			li.cabinet-nav__item 
				a(href="") Пробное ЕГЭ
			li.cabinet-nav__item 
				a(href="") Настройки
			li.cabinet-nav__item 
				a(href="") Оплата курсов